.profile {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-right: 20px;

  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.tag {
  font-size: 18px;
  color: gray;
}

.location {
  font-size: 16px;
  color: gray;
}

.stats {
  list-style: none;
  display: flex;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border: 1px solid gray;
}

.label {
  font-size: 16px;
  color: gray;
  margin-bottom: 5px;
}

.quantity {
  font-size: 20px;
  font-weight: bold;
}
